<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is django tutorial in home page</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>Hey there kaise ho sbhi</h2>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptatibus beatae minima ullam, doloremque
        itaque corrupti laboriosam incidunt eaque quisquam harum aliquid minus ratione consectetur sequi dolores
        aspernatur qui. Magnam, iusto dolore, doloremque ad dicta iste ratione praesentium eligendi autem labore
        distinctio vero fugiat hic totam incidunt eius rem accusamus!</p>

        <table>
            <tr>
              <th>S.No</th>
              <th>FullName</th> 
              <th>Age</th>
            </tr>
            {% for people in peoples %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{people.name}}</td>
              <td>{{people.age}}</td>
            </tr>
            {% endfor %}
          </table>
    <hr>
    <Button onclick="handleClick()">click here</Button>

    <script>
        function handleClick() {
            alert("Button clicked!");
        }
    </script>
</body>

</html>