{% extends '../base.html' %}
{% block start %}

<div class="container">
    <h2>Home page from the Home</h2>
    <h5>{{ request.user.date_joined }}</h5>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptatibus beatae minima ullam, doloremque
        itaque corrupti laboriosam incidunt eaque quisquam harum aliquid minus ratione consectetur sequi dolores
        aspernatur qui. Magnam, iusto dolore, doloremque ad dicta iste ratione praesentium eligendi autem labore
        distinctio vero fugiat hic totam incidunt eius rem accusamus!</p>

    <table>
        <tr>
            <th>S.No</th>
            <th>FullName</th>
            <th>Age</th>
            <th>Can Vote</th>
        </tr>
        {% for people in peoples %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{people.name}}</td>
            <td>{{people.age}}</td>
            <td>
                {% if people.age > 18 %}
                👍
                {% else %}
                👎
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>
        {% if "cucumber" in vegetables%}
        available
        {%else%}
        not available
        {%endif%}
    </p>
    <hr>
    <a href="receipes">receipes</a>
    <a href="about">About</a>
    <a href="contact">contact</a>
</div>

{% endblock %}